
.vs/AceTC/config/applicationhost.config
.vs/AceTC/config/applicationhost.config
.vs/AceTC/v16/.suo
obj/Debug/AceTC.csprojAssemblyReference.cache
obj/Debug/AceTC.csprojAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/AceTC.csprojAssemblyReference.cache
Web.config
*.config
*.config
*.config
.vs/AceTC/v16/.suo
Services/Data/SecurityDAO.cs
